* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fbf9f1;
    color: black;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: black;
    color: white;
}

.logo {
    font-size: 1em;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

nav {
    box-shadow: 
        0px 2px 4px -1px rgb(0 0 0 / 20%),
        0px 4px 5px 0px rgb(0 0 0 / 14%),
        0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.nav-links {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.menu-icon {
    display: block;
    font-size: 1.5em;
    cursor: pointer;
    height:20px;
    width:20px;
    color:#fff;
}

@media (min-width: 769px) {
    .nav-links {
        display: flex;
    }
    .menu-icon {
        display: none;
    }
}

.menu-open .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: black;
}

.menu-open .nav-links li {
    margin: 10px 0;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 8px solid #e9e8e2;
}

.hero-text {
    text-align: center;
    width: 80%;
    margin: 0 20%;
}

.hero-text h1 {
    font-weight: 700;
    font-size: 1.5em;
}

.hero-text h2 {
    font-weight: 400;
    font-size: 1.2em;
    font-style: italic;
}

@media (max-width: 768px) {
    .hero-text h1, .hero-text h2 {
        font-size: 1.0em;
    }
    .about-text, .community-text {
        font-size: 0.8em;
    }
    footer {
        font-size: 0.6em;
    }
    .pricing-table {
        width: 90%;
        margin: 10px auto;
    }
}

.newsletter-js {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about, .contact, .newsletter-section {
    padding: 4rem 2rem;
    background-color: #f4f2ed;
    border-bottom: 8px solid #e9e8e2;
}

.about-text {
    margin: 0 5%;
}

.about-text h2, .contact h2 {
    text-align: center;
}

.about-p-link {
    text-decoration: none;
}

.contact-links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.contact-links li {
    padding: 2rem;
    font-size: 32px;
}

.contact-links a {
    text-decoration: none;
    color: #000;
}

.contact-links a:hover {
    color: #1DA1F2;
}

.second-social-link a:hover {
    color: #0072b1;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: black;
    color: #fff;
    font-size: 0.8em;
}

#current-year {
    color: #fff;
}
  

  

